---
import type { GuiaGet } from "@/env";
import Home from "../layouts/Home.astro";
const guia: GuiaGet = await fetch("http://localhost:8000/guias/1").then((d) => d.json());
---

<Home>
  <div>{guia.title}</div>
  <div>{guia.description}</div>
  <div>{guia.identifiers.character}</div>

</Home>
